In [3]:

import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/Users/nirbhaysedha/Desktop/zomato_project/data/raw/zomato.csv')

In [5]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-23,116.000000,138.899994,115.000000,126.000000,126.000000,694895290
1,2021-07-26,126.349998,143.750000,125.300003,140.649994,140.649994,249723854
2,2021-07-27,141.699997,147.800003,127.750000,132.899994,132.899994,240341900
3,2021-07-28,131.000000,135.000000,123.550003,131.199997,131.199997,159793731
4,2021-07-29,134.949997,144.000000,132.199997,141.550003,141.550003,117973089

In [7]:
df['Adj Close']

0      126.000000
1      140.649994
2      132.899994
3      131.199997
4      141.550003
          ...
626    140.550003
627    143.800003
628    140.250000
629    139.949997
630    140.399994
Name: Adj Close, Length: 631, dtype: float64

AttributeError: 'Series' object has no attribute 'year'